@function hello($name) {
  @return "hello #{$name}";
}

App {
  background: #fff;

  $greeting: hello(
    $name: "world",
  );
  $content: "click this button below";

  button {
    &:active {
      color: "red";
    }

    $counter: 0;

    $content: "counter is #{$counter}";

    @function click() {
      $counter: $counter + 1;
    }
  }
}
