@function hello($name) {
  @return "hello #{$name}";
}

#app {
  background: #000;
  color: #fff;

  $greeting: hello("world");

  .btn {
    $counter: 0;

    $content: "click me (#{$counter})";

    @function click() {
      $counter: $counter + 1;
    }
  }
}
